[Install{{ thunderbird_install_id }}]
Default={{ thunderbird_profile }}
Locked=1

[Profile0]
Name=default-release
IsRelative=1
Path={{ thunderbird_profile }}
Default=1

[General]
StartWithLastProfile=1
Version=2
